.post-image {
  width: 100%;
  /* position: relative; */
}

.post-image img {
  object-fit: cover;
  height: auto;
  width: inherit;
}

.post-image .bigHeart {
  position: absolute;
  top: 35%;
  left: 35%;
  right: auto;
  bottom: auto;
  z-index: 2;
  font-size: 140px;
  color: white;
}

.single-post-buffer {
  padding-bottom: 100px;
}
.post-container {
  background-color: white;
  margin: 10px 0px;
  border-radius: 3px;
  padding: 10px 0px;
}

.post-top-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-top-user-loc {
  display: flex;
  flex-direction: column;
}
.post-top {
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-bottom {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.post-bottom-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  margin: 10px 0px;
}

.post-bottom-top-left {
  display: flex;
  gap: 10px;
}

.post-bottom-bottom > div {
  margin: 10px 0px;
}

#updatePostForm {
  width: 100%;
  height: inherit;
}

#updatePostForm #location,
#updatePostForm #caption {
  padding: 10px 0px;
  border: none;
  margin: none;
}

#updatePostForm #caption {
  width: 100%;
  height: 150px;
  font-family: inherit;
  font-size: inherit;
}

.post-bottom p {
  font-weight: bold;
  color: var(--ig-dark);
}

.from-now {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400 !important;
  color: var(--ig-light-gray) !important;
}
