.profileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile-top {
  display: flex;
  margin: 16px 16px 16px 24px;
  gap: 20px;
}

.profile-user {
  max-height: 20%;
  max-width: 20%;
  border-radius: 50%;
}

.profile-user img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-header {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.profile-header h1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.editButton {
  border: 1px solid var(--ig-light-gray);
  border-radius: 5px;
  font-weight: 500;
  padding: 5px;
  margin: 5px;
  background: none;
}

.name-bio {
  margin: 24px 16px;
}

.post-follows-container {
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.post-follows {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  padding-bottom: 100px;
}

.post-square {
  height: 33vw;
  width: 33vw;
}

.post-follows span {
  font-weight: bold;
}

.post-follows p {
  font-weight: 400 !important;
}

@media (min-width: 500px) {
  .post-square {
    height: 166px;
    width: 166px;
  }
}

.post-square a {
  width: inherit;
  height: inherit;
}

.post-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-bio > p {
  color: var(--ig-dark);
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-container {
  padding-bottom: 75px;
}
