/* sitewide styles here */
* {
  --ig-dark: #262626;
  --ig-background: rgb(249, 249, 249);
  --ig-gray: rgb(123, 123, 123);
  --ig-light-gray: #c7c7c7;
  --ig-navy: #00376b;
  --ig-blue: #0095f6;
  --ig-blue-disabled: rgb(175, 210, 248);
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00376b;
  color: var(--ig-dark);
  margin: 0;
  font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
}

a {
  color: var(--ig-blue);
  font-weight: bolder;
}

#root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: inherit;
  background-color: var(--ig-background);
  border-radius: 20px;
  height: inherit;
  /* width will need to be more flexible */
}

h1,
h2,
h3 {
  font-family: "Billabong";
  margin: 0;
}

#main {
  margin-top: 15%;
  margin-bottom: 15%;
  width: inherit;
  height: inherit;
}

.submitButton {
  width: 100%;
  border: none;
  border-radius: 3px;
  background-color: var(--ig-blue);
}

.submitButton:disabled {
  background-color: var(--ig-blue-disabled);
}

input {
  padding: 9px 8px 7px 8px;
  border-radius: 3px;
  border: 1px solid var(--ig-light-gray);
  color: var(--ig-dark);
  margin-bottom: 5px;
  width: 100%;
}

input::placeholder {
  color: var(--ig-light-gray);
  font-size: 12px;
}

hr {
  width: 100%;
}

.userIcon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
