nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    height: 70px;
    padding:20px;
    width: inherit;
    position: fixed;
    background-color: var(--ig-background);

}

.nav-bottom {
    bottom: 0;
    border-top: 1px solid var(--ig-dark);
}

.nav-top {
    top: 0;
    border-bottom: 1px solid var(--ig-dark)
}
